.btn{
    position: relative;
    top:50px;
}
body{
    background-color: rgb(231, 231, 233);
}
#tab{
    width:100%;
    border-collapse: collapse;
    
    
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    margin: 0 auto;
    border: 1px solid midnightblue;
}